<app-tabservice1 
  [backgroundImage]="tabService1Data.backgroundImage"
  [title]="tabService1Data.title"
  [mainImage]="tabService1Data.mainImage"
  [mainText]="tabService1Data.mainText"
  [contentItem1Image]="tabService1Data.contentItem1Image"
  [contentItem1Text]="tabService1Data.contentItem1Text"
  [contentItem2Image]="tabService1Data.contentItem2Image"
  [contentItem2Text]="tabService1Data.contentItem2Text"
  [contentItem3Image]="tabService1Data.contentItem3Image"
  [contentItem3Text]="tabService1Data.contentItem3Text"
>
</app-tabservice1>
