.container-fluid {
  min-height: 250px;
  padding: 0;
  position: relative;

}

#section {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1000;
}



.etiquetas1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1000;
}

a {
  display: flex;
  background-color: #373535;
  align-items: center;
  color: white;
  margin-right: 10px;
  padding: 0 3rem;
  min-height: 72px;
  text-decoration: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  font-family: 'Poppins';
}

a.active {
  color: #fff;
  background-color: #373535;
  min-height: 98px;
}

a:hover {
  cursor: pointer;
}

@keyframes buttonAnim {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(100%);
    opacity: 0.5;
  }
}

.button-animating {
  animation: buttonAnim 0.5s ease forwards;
}

@keyframes buttonAnimLarge {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(150%);
    opacity: 0.5;
  }
}

.button-animatingLarge {
  animation: buttonAnimLarge 0.5s ease forwards;
}

@keyframes buttonAnimL {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.button-animatingL {
  animation: buttonAnimL 0.5s ease forwards;
}

@keyframes buttonAnimLLarge {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(-150%);
    opacity: 0;
  }
}

.button-animatingLLarge {
  animation: buttonAnimLLarge 0.5s ease forwards;
}

.serv {
  background: var(--cuaternary, #12BF9E);
  display: flex;
  align-items: center;

  justify-content: center;
  padding-bottom: 3rem;


}

h1 {
  font-family: 'Montserrat';
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  color: #F8F9FF;
  text-align: center;
}

@media (max-width: 768px) {
  .etiquetas {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  #mk {
    font-size: 11px;
  }

  a {
    width: 100%;
    justify-content: center;
    font-size: 13px;
    min-height: 35px;
    margin: 0 1px;
    padding: 0 0.5rem;
  }

  a.active {
    color: #fff;
    background-color: #373535;
    min-height: 51px;
  }

  .serv {
    font-size: 25px;
    padding-bottom: 3rem;
  }
  h1 {

    font-size: 20px;
    
  }
}
@media (max-width: 400px) {
  .etiquetas {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  #mk {
    font-size: 11px;
  }

  a {
    width: 100%;
    justify-content: center;
    text-align: center;
    font-size: 13px;
    min-height: 35px;
    margin: 0 1px;
    padding: 0 0.5rem;
  }

  a.active {
    color: #fff;
    background-color: #373535;
    text-align: center;
    min-height: 51px;
  }

  .serv {
    font-size: 25px;
    padding-bottom: 3rem;
  }
  h1 {

    font-size: 20px;
    
  }
}