<section class="seccion"id="emprendedor">
    <h1 class="text-center" style="color: white;">Nuestros Innovadores</h1>
    <section class="hero-section">
        <div class="hero">
            <img src="ojalá.webp" alt="hero image" id="image" data-aos="fade-down">
            <div class="pd"  data-aos="fade-up">
                <h3>Emprendedores Emergentes</h3>
                <p class="text-center">
                    Transformamos tus ideas en éxitos duraderos y tangibles a través de soluciones creativas y estrategias
                    digitales efectivas que impulsan tu crecimiento desde el primer día, ayudándote a destacar en un mercado
                    competitivo, construir una marca sólida y alcanzar tus metas empresariales con confianza.
                </p>
            </div>
            
        </div>
        <div class="svg">
            <svg xmlns="http://www.w3.org/2000/svg" width="99" height="32" viewBox="0 0 99 32" fill="none">
                <path d="M2 2L25.2781 26.2247L39.7483 8.60674L57.0497 26.2247L75.9238 8.60674L97 30" stroke="#E7E7E7" stroke-width="4"/>
                </svg>
        </div>
        <div class="hero">
            <img src="queda 222.webp" alt="hero image" id="image" data-aos="fade-down">
            <div class="pd" data-aos="fade-up">
                <h3>Emprendedores Consolidados</h3>
                <p class="text-center">
                    Expanda su negocio con estrategias avanzadas de marketing digital diseñadas para lograr un crecimiento
                    sostenible y un impacto significativo, posicionando su marca como líder en el mercado, asegurando una
                    conexión profunda y duradera con su audiencia, y maximizando el retorno de su inversión en cada campaña.
                </p>
            </div>
            
        </div>
    </section>
</section>