.seccion {
    background-color: #12BF9E;
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

h1 {
    font-family: "Montserrat";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
}

h3 {
    color: #02554A;
    text-align: center;
    font-family: "Montserrat";
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
}

p {
    color: #02554A;
    text-align: center;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}
#image{
    width: 500px;
}
.hero-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    padding-top: 5%;

}

.hero {
    max-width: calc(50% - 20px);
    color: black;
    text-align: center;
}

.pd {
    padding: 7%;
}

.hero img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

@media screen and (max-width: 1023px) {
    .hero-section {
        flex-direction: column;
        align-items: center;
        margin-right: 0;
        height: auto;
    }

    h1 {
        font-size: 28px;
    }

    .hero {
        max-width: 100%;
        padding: 29px;

    }

    .pd {
        padding: 0;
    }

    .svg {
        display: none;
    }
    h3{
        font-size: 18px;
    }
    p{
        font-size: 13px;
    }
}