.hero {
    display: flex;
    align-items: center;
    height: auto;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #12BF9E;
    overflow: hidden;
}

.card {
    border-radius: 32px;
    background: #02554A;
    border: none;
    position: relative;
    overflow: hidden;
    padding: 20px;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    height: auto;
    border: none;
}

#cont {
    border-radius: 32px;
    position: relative;
    z-index: 3;
    width: 60%;
}

.media {
    width: 463.693px;
    height: 460.721px;
    flex-shrink: 0;
    border-radius: 463.693px;
    background-color: #058070;
    position: absolute;
    top: 50%;
    right: 95%;
    transform: translateY(-50%);
    z-index: 3;
}

.transf {
    width: 463.693px;
    height: 460.721px;
    flex-shrink: 0;
    border-radius: 463.693px;
    background: linear-gradient(90deg, rgba(34, 187, 148, 1) 0%, rgba(5, 128, 112, 1) 106%);
    position: absolute;
    top: 50%;
    right: 80%;
    transform: translateY(-50%);
    z-index: 2;
}

.ly {
    width: 463.693px;
    height: 460.721px;
    flex-shrink: 0;
    border-radius: 463.693px;
    background: linear-gradient(51deg, rgba(34, 187, 148, 1) 0%, rgba(50, 128, 112, 1) 156%);
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    z-index: 1;
}

.layout {
    width: 463.693px;
    height: 460.721px;
    flex-shrink: 0;
    border-radius: 463.693px;
    background: linear-gradient(177deg, #058070 10.7%, #22BB94 103.87%);
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
    z-index: 2;
}

#conta {
    border-radius: 32px;
    position: relative;
    z-index: 5;
}

.cartas {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    align-items: center;

}

.card-body h2 {
    color: white;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    width: 140%;
    font-family: 'Montserrat';
}

.card-body h5 {
    color: #ffffff;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    font-family: 'Montserrat';
}

.btn-primary {
    font-family: 'Montserrat';
    background-color: #ffffff;
    color: #000;
    border: none;
    padding: 10px 50px;
    border-radius: 20px;
    font-size: 1em;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #f0f0f0;
}

@media (max-width: 1000px) {
    .hero {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .card {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .cartas {
        flex-direction: column;
        align-items: center;
    }

    .ly {

        top: 50%;
        left: -90%;

    }

    .layout {
        top: -20%;
        left: -90%;

    }

    .media {

        top: 120%;
        right: 90%;

    }

    .transf {
        top: 120%;
        right: 75%;
    }

    #cont,
    #conta {
        width: 100%;
        text-align: center;
    }

    .card-body h2 {
        font-size: 30px;
        line-height: 40px;
        width: 100%;
    }

    .card-body h5 {
        font-size: 18px;
        line-height: 30px;
        width: 100%;
    }
}