<section class="hero">
    <div class="container">
        <div class="card">
            <div class="cartas">
                <div class="media"></div>
                <div class="transf"></div>
                <div class="transforma">
                    <div class="card-body" id="cont" data-aos="flip-left">
                        <h2>¡Transforma Tu Marca Con Nosotros!</h2>
                    </div>
                </div>
                <div class="ly"></div>
                <div class="layout"></div>
                <div class="reserva">
                    <div class="card-body" id="conta">
                        <h5 class="card-title"  data-aos="fade-left">¿Listo para transformar tu presencia digital? ¡Creemos magia juntos!
                            ¡Reserva nuestros servicios ahora!</h5>
                            <div data-aos="fade-down">
                                <a [href]="whatsappLink"
                                target="_blank" class="btn btn-primary" style="font-weight: 600;">Contáctanos</a>
                            </div>                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>