<section class="hero-section">
    <div class="hero">
        <div data-aos="fade-right">
            <h2>Hacemos Crecer Tu Marca</h2>
            <p>
                Obtén presencia digital con resultados tangibles.
            </p>
        </div>
        <div >
            <a [href]="whatsappLink" target="_blank" class="whatsapp-btn">
                <button type="button" class="btn">Quiero saber más
                    <span class="icon-container">
                        <i class="bx bx-right-arrow-alt" style="color: white;"></i>
                    </span>
                </button>
            </a>
        </div>
    </div>
    <div class="img" data-aos="fade-down">
        <img src="principal.png" alt="principal">
    </div>
    <div class="redsocial">
        <div class="social-column">
            <a href="https://www.instagram.com/grupomontercreator/?hl=es" target="_blank">
                <i class='bx bxl-instagram-alt'></i>
            </a>
            <a href="https://www.linkedin.com/company/grupomontercreator/" target="_blank">
                <i class='bx bxl-linkedin-square'></i>
            </a>
            <a href="https://web.facebook.com/profile.php?id=61559736840486&locale=es_LA&_rdc=1&_rdr" target="_blank">
                <i class='bx bxl-facebook-circle'></i> </a>
            <a href="https://www.tiktok.com/@grupomontercreator" target="_blank">
                <i class='bx bxl-tiktok'></i>
            </a>
        </div>
    </div>
    <a [href]="whatsappLink" target="_blank" class="whatsapp-btn">
        <div class="wsp">
            <img src="mensaje.svg" alt="mensaje" id="men">
            <img src="WhatsApp.svg" alt="Necesitas ayuda en WhatsApp">
        </div>
    </a>
</section>