.form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #12BF9E;
    overflow: hidden;
}

h1 {
    color: #373535;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: start;
}

label {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.btn-primary {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    transition: padding-right 0.3s ease, padding-left 0.3s ease;
    padding-left: 30px;
    padding-right: 30px;
}

.icon-container {
    position: absolute;
    top: 20%;
    color: white;
    width: 50px;
    height: 100%;
    transition: right 0.3s ease;
}

.btn-primary:hover .icon-container {
    right: 10%;
}
.btn-primary{
    background-color: #02554A;
    border: none;
}
.btn-primary:hover {
    padding-right: 40px;
    padding-left: 55px;
    background-color: #7DE81A;
    border: none;
}

.bx-right-arrow-alt {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    align-items: center;
    left: 70%;
}

.btn-primary:hover .bx-right-arrow-alt {
    display: inline-block;
}

.image-container img {
    width: 100%;
    height: 100%;

}

.image-container {
    margin: 0;
    padding: 0;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 797px) {
   .social-icons a {
        font-size: 13px;
    }
    h1{
        font-size: 20px;
        text-align: center;
        margin-bottom: 2rem;
    }
    
    .forms .row{
        flex-direction: column;
    }
}