<div class="seccion" id="nosotros">
    <section class="hero-section">
        <div class="img" data-aos="fade-right" >
            <img src="estrategico.gif" id="imagen">
        </div>
        <div class="svg">
            <svg xmlns="http://www.w3.org/2000/svg" width="51" height="60" viewBox="0 0 51 60" fill="none">
                <circle cx="20" cy="20" r="18.5" stroke="white" stroke-width="3" />
                <circle cx="31" cy="40" r="19.5" stroke="white" />
            </svg>
        </div>
        <div class="hero" >
            <div data-aos="fade-down">
                <h2>Somos tu aliado estratégico en el mundo del Marketing Digital.</h2>
                <h6>
                    Nos especializamos en proporcionar soluciones creativas y efectivas que impulsan el crecimiento y la
                    visibilidad de tu negocio.
                </h6>
            </div>
            
            <div class="contenido" data-aos="fade-left">
                <section class="additional-content">
                    <div class="content-item">
                        <div class="content-item-inner">
                            <img src="estrategia1.svg" alt="" id="img" >
                            <div class="parra">
                                <h5>Estrategia</h5>
                                <p>Desarrollamos estrategias de marketing personalizadas a base de tus necesidades y
                                    objetivos únicos.
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="additional-content">
                    <div class="content-item">
                        <div class="content-item-inner">
                            <img src="ejecucion2.svg" alt="" id="img">
                            <div class="parra">
                                <h5>Ejecución</h5>
                                <p>Ejecutamos nuestras estrategias utilizando las últimas herramientas y técnicas de
                                    marketing digital.
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="additional-content">
                    <div class="content-item">
                        <div class="content-item-inner">
                            <img src="segui3.svg" alt="" id="img">
                            <div class="parra">
                                <h5>Seguimiento</h5>
                                <p>Mantenemos un seguimiento constante de nuestras campañas para realizar los ajustes
                                    necesarios.
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

        </div>
    </section>
</div>